registry=https://registry.npmjs.org/
# registry=https://registry.npmmirror.com/
strict-peer-dependencies=false
link-workspace-packages=true
prefer-workspace-packages=true
recursive-install = true

# shamefully-hoist=true # 扁平式