.drawer {
  position: fixed;
  inset: 0;
  color: #fff;

  &.from-top,
  &.from-bottom {
    .drawer__content {
      left: 0;
      right: 0;
    }
  }

  &.from-top .drawer__content {
    top: 0;
  }

  &.from-bottom .drawer__content {
    bottom: 0;
  }

  &.from-left,
  &.from-right {
    .drawer__content {
      top: 0;
      bottom: 0;
    }
  }

  &.from-left .drawer__content {
    left: 0;
  }

  &.from-right .drawer__content {
    right: 0;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 200;
    opacity: 0.5;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    background-color: #000000;
    user-select: none;
  }

  &__content {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px #777;
  }
}

.drawer-enter-from,
.drawer-leave-to {
  .drawer__overlay {
    opacity: 0;
  }
}

.drawer-enter-to,
.drawer-leave-from {
  .drawer__overlay {
    opacity: 0.5;
  }
}

.from-left {
  &.drawer-enter-from,
  &.drawer-leave-to {
    .drawer__content {
      transform: translateX(-100%);
    }
  }
}

.from-right {
  &.drawer-enter-from,
  &.drawer-leave-to {
    .drawer__content {
      transform: translateX(100%);
    }
  }
}

.from-top,
.from-bottom {
  &.drawer-enter-to,
  &.drawer-leave-from {
    .drawer__content {
      transform: translateY(0);
    }
  }
}

.from-top {
  &.drawer-enter-from,
  &.drawer-leave-to {
    .drawer__content {
      transform: translateY(-100%);
    }
  }
}

.from-bottom {
  &.drawer-enter-from,
  &.drawer-leave-to {
    .drawer__content {
      transform: translateY(100%);
    }
  }
}

.from-top,
.from-bottom {
  &.drawer-enter-to,
  &.drawer-leave-from {
    .drawer__content {
      transform: translateY(0);
    }
  }
}

.{{packageName}}-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}
